.programes{
    margin: 80px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.programe img{
    width: 80%;
    border-radius: 20px;
    display: block;
}
.programe{
    flex-basis: 31%;
}
/* .caption{
    border-radius: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(0,15,152,0.3);
} */
/* .caption img{
    width: 60px;
    margin-bottom: 10px;
} */